.blurred-card {
    border: 1px solid #eee2 !important; 
    border-radius: 30px;
    backdrop-filter: blur(20px) !important;
    box-shadow: var(--g-color-base-background) 0px 2px 8px !important;
}

:export {
    blurredCard: blurred-card
}
