*{
	box-sizing: border-box;
}
.masonry-layout {
	/* column-width: 100px; */
	/* columns: 150px; */
	display: flex;
	flex-direction: row;
	gap: '16px',
  	/* grid-template-columns: repeat(2, 1fr);
	grid-column: span; */
  	/* grid-template-rows: masonry; */
	/* display: flex;
	flex-direction: column;
	gap: 8px;
	flex-wrap: ;
	overflow: scroll;
	columns: 2; */
}

.masonry-item {
	display: flex;
	/* z-index: 10000; */
	/* position: relative; */
	/* width: calc(98%/2);
	height: fit-content; */
}
.masonry-item:nth-child(2n){
	/* order: 1; */
}
.masonry-item:nth-child(2n+1){
	/* order: 2; */
}
.masonry-item::before{

}
.masonry-item::after{
	/* content: ''; */
	/* flex-basis: 100%;
	width: 0;
	order: 2; */
}